---
import { type Project } from '../data/projects';
import type { Role } from '../data/roles';

interface Props {
  heading: string;
  hasTitle?: boolean;
  projects: Project[] | Role[];
}

const { heading, hasTitle, projects } = Astro.props;

---

<main class="projects">
  {hasTitle !== false && <h2 class="heading">{heading}</h2>}
  {projects.filter(project => project.link || (project as Project).isNDAed).map((project) => {
    const className = `project ${(project as Project).isNDAed ? 'isNDAed' : ''} ${(project as Project).isWIP ? 'isWIP' : ''}`;

    return project.link ? (
      <a
        href={project.link}
        target="_blank"
        role="link"
        rel="noopener noreferrer nofollow"
      >
        <article class={className}>
          <p class="title">{project.title}</p>
          <p class="description">{project.description}</p>
          <p>{project.niceDate ?? project.date.getFullYear()}</p>
        </article>
      </a>
    ) : (
      <article class={className}>
        <p class="title">{project.title}</p>
        <p class="description">{project.description}</p>
        <p>{project.niceDate ?? project.date.getFullYear()}</p>
      </article>
    );
  })}
</main>

<style scoped>
.projects {
  --opacity: 1;
  display: flex;
  flex-direction: column;
  padding: 1rem;

  &:has(.project:not(.isNDAed):hover) {
    @mixin mobile-friendly-hover {
      --opacity: 0.3;
    }
  }

  h2,
  p {
    color: rgba(var(--text-color) / var(--opacity));
    transition: color 0.125s ease;
  }

  a {
    display: contents;
    text-decoration: none;
    color: inherit;
  }
}

.heading {
  --opacity: 0.3;
  font-size: 1.25rem;
  font-weight: inherit;
  font-style: italic;
  text-align: right;
}

.project {
  display: grid;
  grid-template-columns: 1fr max-content;
  flex-direction: row;
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;

  p {
    margin: 0;

    &::after {
        font-size: 0.75em;
        font-style: italic;
        margin-left: 0.5em;
    }
  }

  &.isNDAed {
    cursor: not-allowed;

    p:first-child::after {
      content: "NDAed";
    }
  }

  &.isWIP {

    p:first-child::after {
      content: "WIP";
    }
  }

  &:hover {
    --opacity: 1;
  }

  .title {
    white-space: nowrap;
  }

  .description {
    display: none;
  }

  @media (min-width: 700px) {
    grid-template-columns: minmax(auto, 40%) 1fr max-content;

    .description {
      display: block;
    }
  }
}
</style>